 //主色
$--color: #00a597;
$bc-nav: #c31c;
// $--color: #fa4f52;
//主色 -light
$--color-light: #1f837b;
//主色 -dark
$--color-dark: #00a597;

//辅助色
$--color-info: #3497F1;
// $--color-info: #d83c3f;
$--color-success: #13CE66;
// $--color-success: #37b7ff;
$--color-warning: #F7BA2A;
$--color-danger:#FF4949;

//中性色
$--color-black: #1F2D3D;
$--color-black-light: #324057;
$--color-black-light-extra: #475669;

$--color-silver: #8492A6;
$--color-silver-light: #99A9BF;
$--color-silver-light-extra: #C0CCDA;

$--color-gray: #D3DCE6;
$--color-gray-light: #E5E9F2;
$--color-gray-light-extra: #EFF2F7;

$--color-white: #FFFFFF;
$--color-white-dark: #F9FAFC;

// 背景图片地址和大小
@mixin bis($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
// 圆角的地址和大小
@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

//定位全屏
@mixin allcover {
    position: absolute;
    top: 0;
    right: 0;
}

//定位上下左右居中
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

//定位上下居中
@mixin cl {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

//宽高
@mixin wh($width, $height) {
    width: $width;
    height: $height;
}

//字体大小，颜色
@mixin sc($size, $color) {
    font-size: $size;
    color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between) {
    display: flex;
    justify-content: $type;
}